<!DOCTYPE html>
<html>
<head>
	<title>Edit Page</title>
</head>
<body>
	<h1>Edit Page</h1>
	<a href="/">Go List</a>
	<hr />
	<form method="post">
	<fieldset>
		<legend>EDIT DATA</legend>
		<table>
			<tr>
				<td><label>ID</label></td>
				<td><input type="text" name="id" value="<%= data.id %>" disabled /></td>
			</tr>
			<tr>
				<td><label>Name</label></td>
				<td><input type="text" name="name" value="<%= data.name %>" /></td>
			</tr>
			<tr>
				<td><label>Password</label></td>
				<td><input type="text" name="password" value="<%= data.password %>" /></td>
			</tr>
		</table>
		<input type="submit" name="" />
	</fieldset>
	</form>
</body>
</html>

